body,html{
    height: 100%;
    width: 100%;
}
/*
.mbtn{
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: #00BCD4;
background: #ECECEC;
transition: .4s;
}.mbtn:hover {
background: #00bcd4;
color: white;
} */

.itiran {
    display: inline-block;
    padding: 5% 5%;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.itiran:hover {
    background: #67c5ff;
    color: white;
}

.modoru_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
}

.modoru_btn:hover {
    border: dotted 1px #FFF;
}


#container{
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
#main{
    padding-bottom: 15%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: #493496;
    border-style:dotted none none none;
    color: #ffe9b2;
}
#footerText{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}